<section class="hero crgr">
    <h2 class="hero-title">{{ title }}</h2>
    <svg width="70" height="78" viewBox="0 0 70 78" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="31.5" y="3.5" width="37" height="71" rx="18.5" stroke="#42806F" stroke-width="3"/>
        <circle cx="50" cy="22" r="14" fill="#42806F" class="scroll-circle"/>
        <path d="M22.216 65.3612C22.216 66.7372 21.888 67.8652 21.232 68.7452C20.576 69.6252 19.696 70.0652 18.592 70.0652C18.384 70.0652 18.232 70.0572 18.136 70.0412V67.9052C18.824 67.9692 19.384 67.7692 19.816 67.3052C20.248 66.8252 20.464 66.1372 20.464 65.2412C20.464 64.3452 20.296 63.6252 19.96 63.0812C19.608 62.5212 19.12 62.2412 18.496 62.2412C17.968 62.2412 17.552 62.4652 17.248 62.9132C16.944 63.3612 16.616 64.0492 16.264 64.9772C15.96 65.7932 15.672 66.4652 15.4 66.9932C15.128 67.5212 14.752 67.9692 14.272 68.3372C13.776 68.7052 13.152 68.8892 12.4 68.8892C11.664 68.8892 11.008 68.6812 10.432 68.2652C9.856 67.8332 9.416 67.2412 9.112 66.4892C8.792 65.7212 8.632 64.8492 8.632 63.8732C8.632 62.5292 8.968 61.4252 9.64 60.5612C10.312 59.6972 11.192 59.2652 12.28 59.2652C12.488 59.2652 12.648 59.2732 12.76 59.2892V61.3772L12.472 61.3532C11.832 61.3532 11.328 61.6012 10.96 62.0972C10.576 62.5772 10.384 63.2172 10.384 64.0172C10.384 64.8012 10.56 65.4492 10.912 65.9612C11.264 66.4572 11.736 66.7052 12.328 66.7052C12.888 66.7052 13.328 66.4732 13.648 66.0092C13.968 65.5452 14.32 64.8252 14.704 63.8492C15.024 63.0332 15.32 62.3772 15.592 61.8812C15.848 61.3852 16.208 60.9612 16.672 60.6092C17.136 60.2572 17.72 60.0812 18.424 60.0812C19.192 60.0812 19.864 60.3132 20.44 60.7772C21.016 61.2252 21.456 61.8492 21.76 62.6492C22.064 63.4492 22.216 64.3532 22.216 65.3612ZM15.4 57.1181C14.04 56.8781 12.856 56.3981 11.848 55.6781C10.824 54.9421 10.032 54.0381 9.472 52.9661C8.912 51.8941 8.632 50.7341 8.632 49.4861C8.632 47.8701 9.024 46.6141 9.808 45.7181C10.592 44.8061 11.68 44.3021 13.072 44.2061V46.5581C12.272 46.6381 11.64 46.9661 11.176 47.5421C10.712 48.1021 10.48 48.8621 10.48 49.8221C10.48 51.0701 10.912 52.1581 11.776 53.0861C12.624 53.9981 13.832 54.5901 15.4 54.8621C15.928 54.9421 16.368 54.9821 16.72 54.9821C17.888 54.9821 18.792 54.6701 19.432 54.0461C20.056 53.4221 20.368 52.5901 20.368 51.5501C20.368 50.5901 20.144 49.7581 19.696 49.0541C19.248 48.3341 18.608 47.7821 17.776 47.3981V45.0461C19.12 45.6221 20.2 46.5101 21.016 47.7101C21.816 48.9101 22.216 50.3021 22.216 51.8861C22.216 53.5341 21.744 54.8461 20.8 55.8221C19.856 56.7821 18.568 57.2621 16.936 57.2621C16.44 57.2621 15.928 57.2141 15.4 57.1181ZM11.344 38.796C10.48 38.268 9.808 37.604 9.328 36.804C8.848 36.004 8.608 35.092 8.608 34.068L10.864 34.476V35.052C10.864 36.188 11.168 37.14 11.776 37.908C12.384 38.66 13.408 39.164 14.848 39.42L22 40.692V42.876L8.848 40.548V38.364L11.344 38.796ZM22.216 28.1389C22.216 29.2429 21.992 30.2189 21.544 31.0669C21.08 31.8989 20.44 32.5469 19.624 33.0109C18.792 33.4749 17.832 33.7069 16.744 33.7069C15.256 33.7069 13.896 33.3629 12.664 32.6749C11.416 31.9869 10.432 31.0429 9.712 29.8429C8.992 28.6269 8.632 27.2749 8.632 25.7869C8.632 24.6829 8.864 23.7069 9.328 22.8589C9.776 21.9949 10.416 21.3309 11.248 20.8669C12.064 20.3869 13.024 20.1469 14.128 20.1469C15.616 20.1469 16.976 20.4989 18.208 21.2029C19.44 21.9069 20.416 22.8669 21.136 24.0829C21.856 25.2989 22.216 26.6509 22.216 28.1389ZM20.368 27.8749C20.368 26.8349 20.088 25.8989 19.528 25.0669C18.952 24.2349 18.2 23.5869 17.272 23.1229C16.328 22.6429 15.32 22.4029 14.248 22.4029C13.032 22.4029 12.104 22.7549 11.464 23.4589C10.808 24.1629 10.48 25.0429 10.48 26.0989C10.48 27.1389 10.768 28.0669 11.344 28.8829C11.904 29.6989 12.656 30.3309 13.6 30.7789C14.544 31.2269 15.56 31.4509 16.648 31.4509C17.832 31.4509 18.752 31.1149 19.408 30.4429C20.048 29.7709 20.368 28.9149 20.368 27.8749ZM4.24 13.2433L22 16.3873V18.5713L4.24 15.4273V13.2433ZM4.24 7.33706L22 10.4811V12.6651L4.24 9.52106L4.24 7.33706Z" fill="#42806F"/>
    </svg>
</section>

<section class="about crgr autoh">
    <div class="d-flex justify-content-around">
        <div class="row row-cols-auto g-2">
            {{#each rows}}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{short}}</p>
                        <button type="button" class="btn foot btn-danger" data-bs-toggle="modal" data-bs-target="#Modal{{id}}">
                            Больше
                        </button>
                    </div>
                    <div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">{{title}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{text}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {{/each}}
        </div>
    </div>
</section>